* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
.container {

}
.categories {
    display: flex;
    justify-content: center;
}
